---
import Logo from '../assets/theme-images/logo.svg' // o il tuo logo custom
import LanguageSwitcher from './LanguageSwitcher.astro'
const { settings, lang = "es" } = Astro.props
---
<header class="wrapper bg-loop font-semibold">
  <div class="bs-container py-6 flex items-center gap-4">
    <a class="flex xl:min-w-32 group mr-auto" href="/" aria-label={ settings.title + ' - Home' }>
      <Logo height="48" width="48" />
    </a>

    <nav class="hidden md:flex mx-auto self-stretch lg:gap-2">
      { settings.nav.map(item =>
        <a class="bs-btn !bg-transparent before:translate-y-full hover:before:translate-y-0" href={item.link}>
          { item.title }
        </a>
      )}
    </nav>

    <LanguageSwitcher lang={lang} />

    <a
  href="https://fenles.com/evento/halloween-fest-estacio-de-franca-barcelona-31-10-2025-estacio-de-franca?src=meta&utm_campaign=hlwnfest2025"
  class="bs-btn"
  data-cta
>
  { settings.demo?.title ?? "Comprar entradas" }
</a>
  </div>
</header>
