---

import CardLineup from './CardLineup.astro'

const { title, lineup } = Astro.props

---

<section class="bs-container bs-mt-lg" id="lineup">

  <!-- Header -->
  { title && <h2 class="bs-h2 text-center md:text-left">{ title }</h2> }

  <!-- Lineup 1 -->
  <div class="bs-mt-md">
    <CardLineup lineup={ lineup[0] } />
  </div>

  <!-- Lineup -->
  <div class="mt-8 grid lg:grid-cols-2 gap-8">
    <CardLineup lineup={ lineup[1] } />
    <CardLineup lineup={ lineup[2] } />
  </div>

</section>

